.header {
	height: 500px;
	/* Тект по центру, также делается классами в bootstrap*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: url("../img/bg.jpg");
	background-size: cover;

	color: $white;
	text-align: center;

	@media (max-width: 1199px) {
		.display-2 {
			font-size: 3.5rem;
		}
	}

	@media (max-width: 991px) {
		.display-2 {
			font-size: 3rem;
		}
	}

	@media (max-width: 767px) {
		height: 300px;

		.display-2 {
			font-size: 2rem;
		}
	}
}